{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="content-section">
      <div class="media">
          <img class="rounded-circle account-img" src={{ profile.image.url }}>
        <div class="media-body">
            <h2 class="account-heading">{{ profile.user.username }}</h2>
            <p class="text-secondary">{{ profile.user.email }}</p>
            {% if user.is_authenticated %}
                {% if profile.pk != user.profile.pk %}
                    {% if profile in user.profile.follows.all %}
                        <form method="POST" >
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit" name="follow" value="unfollow">Unfollow</button>
                        </form>
                    {% else %}
                        <form method="POST">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit" name="follow" value="follow">Follow</button>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
          <div class="grid-container ml-auto">
                <div class="row">
                    <p class="col text-secondary text-center" style="font-weight: 640; font-size: 19px">{{ profile.total_followers }}</p>
                    <p class="col text-secondary text-center" style="font-weight: 640; font-size: 19px">{{ profile.total_following }}</p>
                </div>
                <div class="row">
                    <a class="col text-secondary" href="{% url 'profile-followers' profile.pk %}">Followers</a>
                    <a class="col text-secondary" href="{% url 'profile-following' profile.pk %}">Following</a>
                </div>
          </div>
      </div>
    </div>
    <div class="content-section">
        <h4 class="ml-auto text-center">Posts</h4>
    </div>
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
            <div class="media-body">
                <div class="article-metadata">
                    <img src="{{ post.author.profile.image }}" alt="">
                    <a class="mr-2" href="">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"M d, Y"}}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}

{% endblock %}